<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS</title>

    <!-- Conectar el archivo CSS -->
    <link rel="stylesheet" href="../css/style.css">

</head>
<body>

    <div class="container">
        <header>
            <nav class="menu">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="../view/servicios.html">Servicio</a></li>
                    <li><a href="../view/contacto.html">Contacto</a></li>

                </ul>

            </nav>
        </header>

        <div></div>

        <main>
        
        <img src="../imagenes/imgproductors.jpg" alt="">

        <p>Esto es un párrafo dentro de un divisor</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/jbgbaDj_ARk?si=Hsvg6vYHbt7zc_H9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Vero esse harum id qui nemo. Obcaecati autem maiores, laborum 
        voluptates, harum amet magni eveniet veniam quibusdam voluptatem 
        aperiam sunt cumque ex?
        </p>
    </div>
    </main>

</body>
</html>